.p_price{
  color: #cc2636;
  font-size: 16px;
}

.prefix{
  font-size: 14px;
  color: #cc2636;
}

.suffix{
  padding-left: 4px;
  font-size: 14px;
  color: #cc2636;
}

.price_label{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activityIndicator{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loading_icon{
  width: 40px;
  height: 40px;
}
