body{
  background: #e1e1e1;
}

.normal {
  background: #79F29F;
}

.listView{
  display: flex;
  flex-direction: column;
}

.pWrapper{
  width:100%;
  height:99px;
  background:rgba(255,255,255,1);

}

.pName{
  padding-left: 21px;
  padding-top: 25px;
  font-size:14px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(4,4,4,1);
  margin-bottom: 15px;
}

.price{
  padding-left: 21px;
  display: inline;
  font-size:20px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(210,35,35,1);
}

.label{
  padding-left: 6px;
  display: inline;

  font-size:14px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(174,170,170,1);

}

.market{
  padding-left: 18px;
  display: inline;
  font-size:14px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(4,4,4,1);
}

.descWrapper{
  padding-left: 19px;
  height:44px;
  font-size:16px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(174,170,170,1);
  line-height:44px;
}

.brandWrapper{
  height:58px;
  background: #FFFFFF;
  padding:9px 18px;
}

.desc{
  font-size:14px;
  font-family:PingFang-SC-Regular;
  font-weight:400;
  color:rgba(174,170,170,1);
  line-height:20px;
}

.footer{
  background:#FFFFFF;

  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 44px;


  display: flex;
  flex-direction: row;

}

.footerR{
  width:50%;
  height:44px;
  background:rgba(74,144,226,1);
  flex: 1;

  line-height: 44px;
  text-align: center;
  color:rgba(255,255,255,1);



}


.footerL{
  flex: 1;
  height:44px;

  font-size:18px;
  color:rgba(255,255,255,1);
  display: inline;


}
