.record{
  text-align: right;
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
}


.withdraw{
  /*width: 100%;*/
  height: 90px;
  background-color: #FFFFFF;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px ;
}

.withdraw_top{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20px;
}

.withdraw_bot{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0 20px;
  color: #999999;
}

.updateAmount{
  font-size: larger;
  color: #cc2636;
  /*padding: 0 10px;*/
}

.gray{
  color: #999999;
}

.top_bg{

}

.r_sp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexr{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tixian_info{
  width: 100%;
}

